@tailwind base;
@tailwind components;
@tailwind utilities;

/* HK Grotesk Font Variables */
:root {
  --font-hk-grotesk: 'HK Grotesk', sans-serif;
  --font-hk-grotesk-legacy: 'HK Grotesk Legacy', sans-serif;
  --font-hk-grotesk-medium-legacy: 'HK Grotesk Medium Legacy', sans-serif;
  --font-hk-grotesk-semibold-legacy: 'HK Grotesk SemiBold Legacy', sans-serif;
  --font-hk-grotesk-light-legacy: 'HK Grotesk Light Legacy', sans-serif;
  --font-hk-grotesk-smbold-legacy: 'HK Grotesk SmBold Legacy', sans-serif;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
